
@{
    ViewBag.Title = "AddSlider";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@using WebLinhPhuKienMayTinh.Areas.Admin.Models;
@model SliderModel
@section jsFooter{
    <script>
        $('#selectImg').bind('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })

    </script>
}

@section header
{ THÊM SLIDER
}
@using (Html.BeginForm("AddSlider", "Slider", FormMethod.Post))
{
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới </h3>
            @Html.ValidationSummary(false, "", new { @class = "error" })
            <div class="success">@ViewData["success"]</div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Tên slider</label>
                        @Html.TextBoxFor(model => model.sliderName, new { @class = "form-control", placeholder = "Nhập tên slider..." })
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tải ảnh</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-danger" id="selectImg">Chọn ảnh</button>
                            </div>
                            <!-- /btn-group -->
                            @Html.TextBoxFor(model => model.slider_Image, new { @class = "form-control", placeholder = "Hãy chọn hình ảnh", @id = "txtImage" })
                        </div>

                    </div>
                    <!-- /.form-group -->

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Trạng thái</label>
                        <select class="form-control" name="type0">
                            <option>Chọn</option>
                            <option value="1">Bật</option>
                            <option value="0">Tắt</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                </div>

                <!-- /.col -->
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary" value="Thêm" />
            </div>
            <div>
                @Html.ActionLink("<<<Back to list", "Sliderlist")
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->

    </div>
}