
@{
    ViewBag.Title = "Newslist";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@using WebLinhPhuKienMayTinh.Models.EF;
@model PagedList.IPagedList<NEWS>
@using PagedList.Mvc
@{var i = 0; }
@section header
{
    DANH SÁCH TIN TỨC
}
    <div class="box-body">

        @using (Html.BeginForm("Newslist", "News", FormMethod.Get))
        {
            <div class="row">
                <div>
                    <div class="new_input-form">
                        <input type="text" value="@ViewBag.searchString" name="searchString" />
                    </div>
                    <div>
                        <button type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
        <a href="AddNews">Thêm mới</a>
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Tiêu đề</th>
                    <th>Hình ảnh</th>
                    <th>Nội dung</th>
                    <th>Loại tin tức</th>
                    <th>Xử lý</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @{ i++;}
                        <td>@i</td>
                        <td>@item.newsTitle</td>
                        <td><img src="@item.newsImg" id="sp"></td>
                        <td>@item.newsContent</td>

                        @{if (item.newsType == "0")
                            {

                                <td>Tin thường</td>
                            }
                            else if (item.newsType == "1")
                            {
                                <td>Tin mới</td>
                            }
                            else
                            {
                                <td>Tin hot</td>
                            }

                        }



                        <td>

                            <a href="/Admin/News/Edit/@item.newsID">
                                <span class="glyphicon glyphicon-edit">
                                </span>
                            </a>

                            <a href="/Admin/Slider/Delete/@item.newsID" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                @Html.PagedListPager(Model, page => Url.Action("Sliderlist", new { page, @searchString = @ViewBag.searchString }))
            </div>
        </div>


    </div>
<!-- /.box-body -->
<!-- /.box -->
<!-- /.box -->


