@model WebLinhPhuKienMayTinh.Models.EF.PRODUCT

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header
{
    SỬA SẢN PHẨM
}
@section jsFooter{
    <script>
        $('#selectImg').bind('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor = CKEDITOR.replace('content', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js',
        });


    </script>
}

@using (Html.BeginForm("Edit", "Product", FormMethod.Post))//(action,controller)
{
    @Html.AntiForgeryToken()
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Sửa </h3>
            @Html.ValidationSummary(false, "", new { @class = "error" })
            <div class="success">@ViewData["success"]</div>
        </div>
        <!-- /.box-header -->
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.productId)
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Tên sản phẩm</label>
                        @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label for="name">Mã sản phẩm</label>
                        @Html.EditorFor(model => model.product_Code, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Số lượng</label>
                        @Html.EditorFor(model => model.productQuantity, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        <label for="name">Giá</label>
                        @Html.TextBoxFor(model => model.price, new { @class = "form-control" })
                    </div>
                    <!-- /.form-group -->

                </div>
                <!-- /.col -->


            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Thương hiệu sản phẩm</label>
                        <select class="form-control" name="brandId">
                            <option selected value="@ViewBag.BrandId">@ViewBag.BrandName</option>
                            @foreach (var item in ViewBag.ListBrand)
                            {
                                <option value="@item.brandId">@item.brandName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">

                        <label>Danh mục sản phẩm</label>

                        <select class="form-control" name="catId">

                            <option selected value="@ViewBag.CatId">@ViewBag.CategoryName</option>
                            @foreach (var item in ViewBag.ListCategory)
                            {
                                <option value="@item.catId">@item.catName</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Loại sản phẩm</label>
                        <select class="form-control" name="types">
                            @{
                                if (ViewBag.types == 0)
                                {
                                    <option selected value="0">Sản phẩm bình thường</option>
                                    <option value="1">Sản phẩm nổi bật</option>
                                }
                                else
                                {
                                    <option selected value="1">Sản phẩm nổi bật</option>
                                    <option value="0">Sản phẩm bình thường</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Chọn ảnh</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-danger" id="selectImg">Chọn ảnh</button>
                            </div>
                            <!-- /btn-group -->
                            @Html.EditorFor(model => model.images, new { htmlAttributes = new { @class = "form-control", @id = "txtImage" } })
                        </div>
                    </div>
                    <!-- /.form-group -->
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Mô tả</label>
                        @Html.TextAreaFor(model => model.product_Desc, new { @class = "tinymce", @id = "content" })
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <input type="submit" class="btn btn-primary" value="Sửa" />
            </div>
            <div>
                @Html.ActionLink("<<<Quay lại", "Productlist")
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>

}
