
@{
    ViewBag.Title = "newPassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@using WebLinhPhuKienMayTinh.Areas.Admin.Models
@model  ChangepasswordModel
@section header
{
    Đổi mật khẩu
}

<!-- /.box-header -->
@using (Html.BeginForm("newPassword", "Changepassword", FormMethod.Post))//(action,controller)
{
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới </h3>
            @Html.ValidationSummary(false, "", new { @class = "error" })
            <div class="success">@ViewData["success"]</div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Tài khoản</label>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Nhập tài khoản ..." })
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mật khẩu cũ</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Hãy nhập mật khẩu cũ..." })
                    </div>
                    <!-- /.form-group -->

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        @Html.PasswordFor(model => model.newPassWord, new { @class = "form-control", placeholder = "Hãy nhập mật khẩu mới..." })
                    </div>
                    <!-- /.form-group -->

                </div>

                <!-- /.col -->
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary" value="Đổi mật khẩu" />
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->

    </div>
   
}

